body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.hide {
  display: none;
}

#wrapper {
  display: flex;
  flex-direction: column;
}

#wrapper #content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
  overflow-x: hidden;
}

#content {
  flex: 1 0 auto;
}
